#transform {
  display: block;
  float: left;
  height: auto;
  margin: 0em 1.5em 10em 0em;
  width: 25vw;
  max-width: 350px;
}

.transformed {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

ol {
  margin-left: 2em;
}

li {
  margin-left: 25vw;
}
