#transform {
  -webkit-transition: 250ms;
  transition: 250ms;
  transform-origin: 0 0;
  background: #e91e63;
  height: 20vw;
  width: 50vw;
  margin: auto;
  padding: 5px;
}
#transform p {
  position: absolute;
  background: #8bc34a;
  height: 15vw;
  width: 15vw;
  left: 0;
  margin: 0;
  padding: 5px;
}

.transformed {
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
}
