@import "includes/mixins";

h3 {
	font-size: 1.1em;	
}

#perspective {
	@include perspective(500px);
	margin-top: 4em;
}

.flex > *,
.flexl > * {
	margin-right: 2em;
}

.flex > * {
	align-self: flex-end;
}

@import "includes/dice.scss";

[for=xpos],
[for=ypos] {
	display:block;
	margin-bottom: .25em;
}

[type=number] {
	font: inherit;
}