//----------------------------------
// Colors
// ---------------------------------
$bgA: #fffffe;  // Nearly white
$bgB: #309;		// Bluish purple

$txtdk: #121212; // Nearly black
$txthighlight1: #e91e63; // Reddish pink
$txthighlight2: #4caf50; // Bright green

$link: #3333ff;
$visited: #0066ff;

$border1: #607d8b; // Blue gray

// ----------------------------------
// Text
// ----------------------------------

$basefont: 16px;
$lineheight: 1.5;
